<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Базовый шаблон></title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div id="wrapper">
<header>
    <nav>
    <ul class="top-menu">
        {% for link in topMenu %}
            {% if link.active %}
            <li class="active">{{link.name}}</li>
            {% else %}
            <li><a href="{{link.href}}">{{link.name}}</a></li>
            {% endif%}
        {% endfor %}
    </ul>
    </nav>
</header>
<main>
    {% block main%}
    <p>Базовый шаблон верстки</p>
    {% endblock main %}
</main>
</div>
</body>
</html>