{% extends "base.html" %}
{% block main %}
<div class="form">
    <h2>{{title}}</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div>
        {% if field.field.widget.input_type != "checkbox" %}
            <p>{{field.label}}</p>{{field}}
        {% else %}
            {{field}}<label for="{{ field.auto_id }}">{{field.label}}</label>
        {% endif %}
        </div>
        {% endfor %}
        <input type="submit" value="Добавить">
    </form>
</div>
{% endblock main %}