{% extends "base.html" %}
{% block main %}

    <div class="left">
        <nav>
            <h2>КАТЕГОРИИ</h2>
            <ul class="categories">
            {% for category in categories %}
                <li><a href="/{{ category.id }}">{{ category.name }}</a></li>
                {% for inner in inners %}
                    {% if inner.parentId == category.id %}
                        <li><a href="/{{ inner.id }}">{{ inner.name }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </ul>
        </nav>

        <div class="filter">
            <h2>ФИЛЬТР</h2>
            <form name="filter" action="" method="post">
                {% csrf_token %}
                <p class="filterText">Размер:</p>
                <div id="filterSize">{{ filterForm.sizeFrom }} - {{ filterForm.sizeTo }}</div>
                <p class="filterText">Сезон:</p>
                {% for field in filterForm %}
                    {% if field.name not in filterForm.sizeList %}
                        <div>{{ field }} <label for="{{ field.auto_id }}">{{ field.name }}</label></div>
                    {% endif %}
                {% endfor %}
                <input type="submit" name="apply" value="Применить">
                <input type="submit" name="reset" value="Очистить">
            </form>
        </div>

    </div>

    <div class="central">

        {% for item in history %}
            <span class="history"><a href="/{{ item.id}}">{{ item.name }}</a></span>
        {% endfor %}

        <div class="items">
            {% for item in items %}
                <div class="item">
                    <div class="item_image"><img src="{{ item.image.url }}"/></div>
                    <div><span class="item_name">{{ item.name }} ({{ item.categoryId }})</span></div>
                    <div><span class="item_size">Размер: {{ item.size }}</span></div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock main %}